/* comandos generales para la pagina */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Margarine&family=Noto+Sans+Khojki&display=swap');

:root{
    --azul-oscuro: #000000;
    --color-text: #FFF;
    --tamaño-text: 5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* elementos del header */

.header{
    display: flex;
    background-color: var(--azul-oscuro);
    color: var(--color-text);
    align-items: center;
    /* position: fixed; */
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.nav a{
    color: var(--color-text);
}

/* area de estrenos, primer section */

.estrenos button{
    background-color: var(--azul-oscuro);
    color: var(--color-text);
}
.estrenos button a {
    color: var(--color-text); 
}

#estrenos img{
    width: 200px;
    height: 350px;
    border-radius: 30px;
    border-width: 10px;
    border-color: var(--azul-oscuro);
    border-style: double;
}

h2{
    text-align: center;
}

.estrenos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}


main section h3{
    text-align: center;
}

main section h2{
    text-align: center;
    font-size: 40px;
}

main{
    background-color: antiquewhite;
}


#estrenos article div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.estrenos div p{
    max-width: 200px;
}

/* area de peliculas */

#peliculas img{
    width: 200px;
    height: 350px;
    border-radius: 10px;
    border-width: 5px;
    border-color: var(--azul-oscuro);
    border-style: inset;  
}

.peliculas{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 100px;
    justify-content: center;
    gap: 10px;
}

.peliculas figure{
    width: calc(25% - 10px);
}

/* area formulario */
#contacto p{
    text-align: center;
}

#contacto{
    padding: 50px 0;
    background-color: azure;
    text-align: center;
}

.formulario{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    
}

.formulario input, textarea, button{
    padding: 12px;
    /* border: none; */
    border-radius: 10px;
    border-width: 1px;
}



/* area del footer */
.footer{
    display: flex;
    background-color: var(--azul-oscuro);
    color: var(--color-text);
    width: 100%;
    padding: 10px;
    justify-content: center;
}

